body{
    background: #494949;
}

.content{
    max-width: 1100px;
    margin: 0 auto;
}

/*header*/
#main-header .content{    
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem 4rem;
}

#main-header .content .myname{
    min-width: 460px;    
    padding-right: 2rem;
}

#main-header .content .myname > h1{    
    font: 400 7.2rem/1rem 'Staatliches', cursive;
}

#main-header .content .menubar {
    min-width: 280px;
    display: flex;
    justify-content:space-between;
}

#main-header .content .menubar a{
    border: 0;
    border-radius: 2.3rem;
    padding: 1.6rem;

    outline: none;
    text-decoration: none;

    font-weight: 700;
    
    background-color: #f9c22d;
    color: #000;
    
    transition: background .5s;
}

#main-header .content .menubar a:hover{
    background-color: #fff463;
}

/*content*/
#main-content{
    background-color: #ebf2f5;
}

#main-content .content{
    background: #fff;
    display: flex;

    border: 1px solid #f9c22d;
    border-radius: 3rem;
    padding: 2rem;    
}

#main-content .content .myphoto{
    width: 480px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
}

#main-content .content .myphoto img{    
    position: absolute;
    left: -165px;
}

#main-content .content .description{
    display: flex;
    flex-direction: column;    
    
    color: #4d6f80;
    margin-left: 2rem;        
}

#main-content .content .description p{
    margin-top: 1.5rem;
    line-height: 2.4rem;
    text-align: justify;
}
#main-content .content .description p a{
    text-decoration: none;
    color: #dba50f;
}

footer{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    padding: 2rem;
    background-color: #494949;
}

.footerbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

footer a{    
    display: flex;
    width: 24px;
    height: 24px;
    text-decoration: none;
}

footer a img {
    width: 100%;
}