body{    
    display:flex;
    flex-direction: column;
    min-width: 900px;
}

.content{
    max-width: 1100px;
    margin: 0 auto;
}

/*header*/
#main-header{
    padding: 0 2rem;
    background: #494949;
}
#main-header .content{    
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 2rem 0;
}

#main-header .content .myname{
    min-width: 460px;    
    padding-right: 2rem;
}

#main-header .content .myname > h1{    
    font: 400 7.2rem/1rem 'Staatliches', cursive;
}

#main-header .content .menubar {
    min-width: 280px;
    display: flex;
    justify-content:space-between;
}

#main-header .content .menubar a{
    border: 0;
    border-radius: 2.3rem;
    padding: 1.6rem;

    outline: none;
    text-decoration: none;

    font-weight: 700;
    
    background-color: #f9c22d;
    color: #000;
    
    transition: background .5s;
}

#main-header .content .menubar a:hover{
    background-color: #fff463;
}

/*content*/
#main-content{
    background-color: #ebf2f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    padding: 0 2rem;
}

#main-content .content{
    background: #fff;
    display: flex;

    border: 1px solid #f9c22d;
    border-radius: 3rem;
    padding: 2rem;    
}

#main-content .content .myphoto{
    width: 480px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    max-height: 551px;
    min-width: 265px;
}

#main-content .content .myphoto img{    
    position: absolute;
    left: -165px;
    top: -78px;
}

#main-content .content .description{
    display: flex;
    flex-direction: column;    
    
    color: #4d6f80;
    margin-left: 2rem;        
}

#main-content .content .description p{
    margin-top: 1.5rem;
    line-height: 2.4rem;
    text-align: justify;
}
#main-content .content .description p a{
    text-decoration: none;
    color: #dba50f;
}
/* footer */

#footer{
    background: #494949;
}
#footer .footerbar{    
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 5px 0;
}

#footer .footerbar a{
    margin: 0 5px;
    text-decoration: none;    
}

#footer .footerbar a img{
    width: 24px;
    height: 24px;    
}