<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Willian Oliveira | DEV</title>

    <link rel="icon" href="/images/logo.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="main-header">
      <div class="content">
        <div class="myname">
          <h1>WILLIAN OLIVEIRA</h1>
        </div>
      

        <div class="menubar">
          <a href="/" id="home-button">Início</a>
          <a id="portfolio-button">Portfólio</a>
          <a id="about-button">Sobre</a>
        </div>
      </div>
    </header>

    <main id="main-content">
      <div class="content">
        <div class="myphoto">
          <img src="images/willian.png" alt="Willian Oliveira"/>
        </div>
        <div class="description">
          <h1>Willian Jorge Pereira Oliveira</h1>
          <p>
            Programador, gamer e investidor entusiasta, nascido em São Gotardo, Minas Gerais e residente em Viçosa, Minas Gerais.
          </p>
          <p>
            Considero como primeiro passo na minha carreira, o curso de Técnico em Informática pelo IFMG - Campus Bambuí (2009-2011).
          </p>
          <p>              
            Em 2012 iniciei a graduação em Sistemas de Informação pela UFV - Campus Rio Paranaíba e também o meu primeiro emprego, como programador na Realtec Sistemas em São Gotardo.
          </p>
          <p>              
            Em 2016, através dos resultados obtidos, passei a ocupar o cargo de Gerente de Projetos no segmento de Agronegócio.
          </p>
          <p>
            Durante o ano de 2018, lecionei as disciplinas Administração de Sistemas de Informação I e II no Centro de Ensino Superior de São Gotardo - CESG.
          </p>
          <p>
            Em 2019, buscando novos desafios, iniciei o mestrado em Ciência da Computação pela Universidade Federal de Viçosa com previsão de conclusão em 2021.
          </p>
          <p>              
            Em 2020 fiz minha primeira publicação científica:
            <a
              href="https://www.insticc.org/node/TechnicalProgram/iceis/2020/presentationDetails/95800"
              target="_blank"
            >
              <em>Last Mile Delivery with Lockers: formulation and heuristic</em>
            </a>, na conferência ICEIS.
          </p>
          <p>
            Atualmente focado na roadmap de <a target="_blank" href="https://roadmap.sh/backend">backend developer</a> com a qual pretendo seguir carreira.
          </p>
          <p>
            Para mais informações sinta-se a vontade para entrar em contato pelas redes sociais!
          </p>
        </div>          
      </div>        
    </main>
    
    <footer id="footer">
      <div class="footerbar">
        <a href="https://www.linkedin.com/in/willianjpo/" target="_blank">
          <img src="images/linkedin.svg" alt="LinkedIn"/>
        </a>          
        <a href="https://twitter.com/wijloc" target="_blank">
          <img src="images/twitter.svg" alt="Twitter"/>
        </a>
        <a href="https://www.instagram.com/willianjpoliveira" target="_blank">
          <img src="images/instagram.svg" alt="Instagram"/>
        </a>
      </div>
    </footer>
  </body>
</html>
