<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/portfolio.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet" />
  <title>Portfólio</title>
</head>

<body>

  <header id="main-header">
    <div class="content">
      <div class="myname">
        <h1>WILLIAN OLIVEIRA</h1>
      </div>


      <div class="menubar">
        <a href="/" id="home-button">Início</a>
        <a href="/portifolio" id="portfolio-button">Portfólio</a>
      </div>
    </div>
  </header>

  <main id="main-content">
    <div class="content">
      <div class="myphoto">
        <img src="images/willian.png" alt="Willian Oliveira" />
      </div>
      <div class="description">
        <h1>Trabalhos feitos até o momento</h1>
        <ul>
          <li>
            BloodstoneTools <a target="_blank" href="https://gitlab.com/wijloc/bstool/"> Backend</a> | <a target="_blank" href="https://gitlab.com/wijloc/bstool/"> Frontend</a>
          </li>          
          <li>
            <a target="_blank" href="https://github.com/wijloc/instanceView">InstanceView</a>
          </li>
          <li>
            <a href="https://gotimemanagement.herokuapp.com/#/">GoTimeManagement</a>
          </li>
          <li>
            <a href="https://github.com/wijloc/linksGallery">LinksGallery</a>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <footer id="footer">
    <div class="footerbar">
      <a href="https://github.com/wijloc" target="_blank">
        <img src="images/github.svg" alt="Github" />
      </a>
      <a href="https://www.linkedin.com/in/willianjpo/" target="_blank">
        <img src="images/linkedin.svg" alt="LinkedIn" />
      </a>
      <a href="https://twitter.com/wijloc" target="_blank">
        <img src="images/twitter.svg" alt="Twitter" />
      </a>
      <a href="https://www.instagram.com/willianjpoliveira" target="_blank">
        <img src="images/instagram.svg" alt="Instagram" />
      </a>
    </div>
  </footer>
</body>

</html>